@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
  font-family: 'Courier Prime', monospace;
  margin: 0;
  padding: 0;
  background-color: #4169E1;
  color: black;
}

header {
  text-align: center;
  padding: 1px;
  border-bottom: 3px dashed black;
}

a {
  margin: 1%;
  text-decoration: none;
}
