@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
  font-family: 'Times New Roman', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #A0522D;
  color: white;
  margin-left: 2%;
  margin-right: 2%;
}

header {
  text-align: center;
  padding: 1px;
  border-bottom: 3px solid white;
}

nav {
font-size: 1em;
}

h2 {
  text-align: center;
}

a {
  color: white;
  font-size: 1em;
}

a:hover {
  background-color: lightblue;
  color: black;
  cursor: pointer;
  padding: 1px;
  text-decoration: underline;
  font-size: 1em;
}

sportlink {
  margin: 1%;
  color: white;
}

sportlink:hover {
  background-color: lightblue;
  color: black;
  cursor: pointer;
  padding: 1px;
  text-decoration: underline;
}

#logo {
  display: block;
  height: 30%;
  border-radius: 50%;
  margin: auto;
  border: 2px solid black;
}

#vereinsbild {
  display: block;
  width: 60%;
  margin: auto;
  border: 2px solid white;
  border-radius: 5%;
}

button {
  background-color: #CD853F;
  border: solid 1px white;
  padding: 1% 2%;
  color: inherit;
  cursor: pointer;  /* indicates clickable element */
  border-radius: 10px;
  width: 30%;
  font-size: 1em;
}

button:hover {
  background-color: #eee; 
  color: #333;        
  border: solid 1px white;
  padding: 1% 2%;
  border-radius: 10px;
  width: 30%;
  font-size: 1em;
}

#spielzeiten {
  margin-left: 20%;
  margin-right: 20%;
}

#sportportal {
  margin: 5% 20% 5% 20%;
}

#contact {
  margin: 5% 20% 5% 20%;
}

p {
  font-size: 1em;
}
