@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
  font-family: 'Courier Prime', monospace;
  margin: 0;
  padding: 0;
  background-color: #4169E1;
  color: white;
  margin-left: 2%;
  margin-right: 2%;
}

header {
  text-align: center;
  padding: 1px;
}

h2 {
  text-align: center;
}

a {
  margin: 1%;
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: lightblue;
  color: black;
  cursor: pointer;
  padding: 1px;
  text-decoration: underline;
}

img {
  display: block;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 2px solid black;
}

section {
  padding: 2em;
}

button {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  color: inherit;
  cursor: pointer;  /* indicates clickable element */
}

button:hover {
  background-color: #eee; 
  color: #333;        
}
